.navbar{
    background-color: #03034a;
    color: #a2a2e4;
}
.navbar a:visited{
    color:#a2a2e4;
    text-decoration: none;
}
nav img{
    height: 3em;
    width: 3em;
}
#contact{
    font-size: 90%;
}
#contact img{
    height: 2.5em;
    width: 6.5em;
}
body, footer{
    background-color: #7373d5;
}
.ResumeBox{
    display: block;
    height: 12em;
    padding: 1em;
    box-shadow: #000000 2px 2px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
    border-width: thin;
    border-style: solid;
}
.ResumeOff{
    display: none;
}
main{
    background-color: #a2a2e4;
    padding: 2em;
    color: #2d2d3e;
}
footer{
    text-align: center;
    padding: 1em;
    font-style: italic;
}
#intro img{
    height: 14em;
    float: right;
}
#intro{
    height: 24em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 7em;
    padding-right: 7em;
}